/*default*/
:root {
    --primary-color: #EC5800;
    --secondary-color: orange;
    --background-color: #FFC82A;
    --title-size: 18px;
    --text-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
}

/*basic*/
body > * {
    display: flex;
    flex-wrap: wrap;
}

/*header*/
header > .logo {
    width: 100%;
    height: 50px;
    font-size: 4rem;
}

.logo > p {
    width: 100%;
    margin: 0 auto;
    font-style: oblique;
    text-align: center;
    color: var(--primary-color);
}

.header-nav {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}

.header-nav > ul {
    display: flex;
    font-size: 1.8rem;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.header-nav li {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
    margin: 4px 0px;
}

.header-nav a {
    text-decoration: none;
    color: var(--background-color);
}

/*main*/
main h1{
    font-size: 1.8rem;
    margin: 0 12px;
}

main p{
    font-size: 1.6rem;
    margin: 0 12px;
}

.main-nav {
    display: none;
}

.ads {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.ads p {
    margin: auto;
}

main > section {
    width: 100%;
}

article {
    margin: 12px auto;
    max-width: 440px;
}

/*footer*/
footer > p {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--background-color);
}