main > section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main article {
    width: 75%;
}

main p {
    margin: 0px auto;
}

main h1 {
    margin: 0px auto;
}

.ads {
    width: 25%;
    height: inherit;
    margin: 12px 0px;
    margin-right: 12px;
}